/* div{
    position: static;
    top: 700px;
} */
/* div{
    position:absolute;
    top: 200px;
    right: 400px;
    left: 200px;
    bottom: 500px;
    
}
div{

        position: relative;
        top: 400px;
        right: 200px;
        left: 500px;
        bottom: 500px;
} */
/* .parent{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
.child{
    width: 80px;
    height: 40px;
    background-color: pink;
    position: relative;
    top: 20px;
    left: 20px;
}
.parent1{
    width: 200px;
    height: 200px;
    background-color: lightblue;
}
.child1{
    width: 80px;
    height: 40px;
    background-color: pink;
    position: relative;
    top: 20px;
    left: 20px;
} */
 /* .sticky-box{
    position: fixed;
    top: 100px;
    /* right: 10px; */
    /* background-color: orange;
    padding: 10px;
 }
 .content{
    height: 2000px;
 } */ 
  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: brown;
    padding: 10px;
    color: white;
    z-index: 100;
  }
  .content{
    margin-top: 60px;
    height: 1500px;
    background-color: lightgrey;
  }
  .box{
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: red;
    padding: 20px;
    z-index: 50;
  }
  .block-span{
    display: block;
    height: 50px;
    background-color: blue;
  }