/* h1{
    color: red;
} */
/* h3{
    background-color: blueviolet;
} */
/* p{
    color: orange;
} */
#apple{
    color: white;
    background-color: red;
    border: 2px solid black;
}
#orange{
    color: white;
    background-color: orange;
    border: 2px solid brown;
}
#mango{
    color: white;
    background-color: green;
    border: 3px solid yellow;
}
.flowers{
    border: 3px dotted green;
}
/* h1{
    color: blue;
}
h2{
    background-color: darkgoldenrod;
}
h3{
    border: 5px dotted purple;
} */
 /* h2,h3{
    color: white;
    background-color: chartreuse;
 } */
 *{
    background-color: pink;
 }