
h1{
    color: red;
    text-align:start;
    text-decoration: underline;
    text-transform: capitalize;
    text-shadow: 2px 3px 8px gray;
    letter-spacing: 6px;
    word-spacing: 5px;
    
}
p{
    text-indent: 60px;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    font-style: italic;
    font-variant: small-caps;

}
div{
    padding: 120px;
    /* padding-top: 40px; */
    /* padding-right: 30px; */
    /* padding-bottom: 30px; */
    /* padding-left: 50px; */
}
div{
    border-right: 4px solid red;
    border-left: 4px dashed blue;
    border-top: 3px double green;
    border-bottom: 4px dotted orange;
}
div{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 100px;
}
