.msg::before{
    content: "Jaff!!";
    color: red;
}
.msg::after{
    content: "  What's up??";
}
  a:link {
        color: violet;
      }
      a:active {
        color: aquamarine;
      }
      a:visited {
        color: greenyellow;
      }
input:focus{
    background-color: darkturquoise;
    border: 2px solid blue;
    outline: none;
}
button:focus{
    background-color: darkred;
    color: white;
}
textarea:focus{
    background-color: pink;
}
input:checked{
    accent-color: red;
}
#male:checked{
    accent-color: yellow;
}
button:hover{
    color:red;
    background-color: yellow;
    border: 4px solid  black;
}
p:hover{
    color: blue;
    background-color: grey;
    border: 3px dashed burlywood;
}